<div class="container my-3">
  <h2>Recordings with label key: <%= @key %></h2>
  <% if @session_windows.any? %>
    <%= render "spectator_sport/dashboard/shared/session_windows", session_windows: @session_windows %>
  <% else %>
    <em>No recordings found with label key "<%= @key %>".</em>
  <% end %>
</div>
