<div class="container my-3">
  <% if @recordings.to_a.any? %>
    <%= render "spectator_sport/dashboard/shared/recordings", recordings: @recordings %>
  <% else %>
    <em>No recordings found.</em>
  <% end %>
</div>
