<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <%= tag.div id: "player",
        data: {
        id: "player",
        controller: "player",
        player_events_value: @events.map(&:event_data).to_json,
      } do %>
        <div data-player-target="player"></div>

        <% if @events.size >= SpectatorSport::Event::PAGE_LIMIT %>
          <%= render "more_events_frame", events: @events %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
