<div class="container mt-3">
  <div id="player" class="d-flex justify-content-center"></div>
  <div class="d-flex justify-content-center pt-2">
    <%= link_to("see technical details", details_session_window_path(@session_window)) %>
  </div>
</div>

<script type="module">
  import { Player } from  'rrweb-player';

  const player = new Player({
    target: document.getElementById('player'),
    props: {
      events: <%== @session_window.events.order(:created_at).map(&:event_data).to_json %>,
    },
  });

  document.addEventListener('turbo:before-visit', () => {
    player.$destroy();
  });
</script>
