<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <%= tag.div "", data: { controller: "player", player_events_value: @session_window.events.order(:created_at).map(&:event_data).to_json } %>
    </div>
  </div>
</div>
