<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <%= tag.div id: "player",
        data: {
        id: "player",
        controller: "player",
        player_events_value: @events.map(&:event_data).to_json,
      } do %>
        <div data-player-target="player"></div>

        <div class="mt-3 input-group" data-controller="clipboard">
          <input type="text" class="form-control form-control-sm" readonly style="max-width: 8rem" data-player-target="linkUrl" data-clipboard-target="source" placeholder="—">
          <button class="btn btn-sm btn-outline-secondary" data-clipboard-target="button" data-action="click->clipboard#copy">
            Copy link
          </button>
        </div>

        <% if @events.size >= SpectatorSport::Event::PAGE_LIMIT %>
          <%= render "more_events_frame", events: @events %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @tags.any? %>
    <div class="d-flex justify-content-center pt-2 gap-2">
      <% @tags.each do |swt| %>
        <%= link_to swt.tag, tag_path(swt.tag), class: "badge text-bg-secondary text-decoration-none" %>
      <% end %>
    </div>
  <% end %>
  <div class="d-flex justify-content-center pt-2">
    <%= link_to("see technical details", details_session_window_path(@session_window)) %>
  </div>
</div>
