<h1>Spectator Sport</h1>
<% if @session_windows.to_a.any? %>
  <ul>

    <% @session_windows.each do |session_window| %>
      <li>
        <%= link_to "Session (##{session_window.session_id}) Window (##{session_window.id})", session_window_path(session_window.id) %>
        <%= link_to "details", details_session_window_path(session_window.id) %>
        <%= button_to "X", session_window, method: :delete, form: { style: "display: inline-block" } %>
        <br>
        <% if session_window.analysis.tags.any? %>
          tags:
          <%= session_window.analysis.tags.join(", ") %>
        <% end %>

      </li>
    <% end %>
  </ul>
<% else %>
  <em>No recordings found.</em>
<% end %>
